@using System.ComponentModel
@using AntDesign.TableModels
@using IMEC.WebRMS.Services
@using IIOTS.Enum
@using IIOTS.Models
@using IIOTS.Util
@using IIOTS.WebRMS.Models
@using MQTTnet
@using MQTTnet.Protocol
@inject IFreeSql freeSql
@inject NavigationManager NavigationManager
@page "/EQUSubList/{GID}"

@code {

    /// <summary>
    /// Tag组ID
    /// </summary>
    [Parameter]
    public string? GID { get; set; }
    int _pageIndex = 1;
    int _pageSize = 10;
    long _total = 0;
    IEnumerable<EQUGroupSublistEnity> selectedRows;
    bool editBoxVisible = false;
    List<EQUGroupSublistEnity> EQUSublist = new List<EQUGroupSublistEnity>();
    /// <summary>
    ///初始化
    /// </summary>
    /// <returns></returns>
    protected override Task OnInitializedAsync()
    {
        GetPage();
        return base.OnInitializedAsync();
    }
    private void GetPage()
    {
        EQUSublist = freeSql
        .Select<EQUGroupSublistEnity>()
        .Where(p => p.GID.ToString() == GID)
        .Count(out _total)
        .Page(_pageIndex, _pageSize)
        .ToList();
    }
}
<div>
    <Modal Title="BasicModal"
           @bind-Visible="@editBoxVisible">
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
    </Modal>
    <Button OnClick="@(()=>{ editBoxVisible = true; })" Type="primary" Style="margin-bottom:16px">
        添加
    </Button>
    <Table TItem="EQUGroupSublistEnity"
           @bind-PageIndex="_pageIndex"
           @bind-PageSize="_pageSize"
           @bind-SelectedRows="selectedRows"
           OnPageIndexChange="GetPage"
           OnPageSizeChange="GetPage"
           Total="(int)_total"
           DataSource="@EQUSublist"
           ScrollX="max-content"
           RowKey="x=>x.Id">
        <Selection Key="@(context.Id.ToString())" />
        <PropertyColumn Title="ID" Property="c=>c.Id" Sortable />
         <PropertyColumn Title="设备线别" Property="c=>c.EQULine" Sortable />
         <PropertyColumn Title="设备号" Property="c=>c.EQUNo" Sortable />
         <PropertyColumn Title="备注" Property="c=>c.Description" Sortable />
         <PropertyColumn Title="创建时间" Property="c=>c.CreatTime" Format="yyyy-MM-dd HH:mm:ss" Sortable />

     </Table>
 </div>